.Modal {
  position: fixed;
  z-index: 500;
  background-color: white;
  width: 900px;
  /* height: 610px; */
  border: 1px solid #ccc;
  border-radius: 20px;
  left: 20%;
  top: 10%;
  /* box-shadow: 1px 1px 1px black; */
  padding: 16px;

  box-sizing: border-box;
  transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
